.container{
  position: absolute;
  width: 257px;
  height: auto;
  border-radius: 5px;
  border: solid 2px #ededeb;
  -webkit-box-shadow: 2px 4px 32px -12px rgba(59,59,59,0.33);
  -moz-box-shadow: 2px 4px 32px -12px rgba(59,59,59,0.33);
  box-shadow: 2px 4px 32px -12px rgba(59,59,59,0.33);
}

.loader{
  background-color: transparent;
  display: inline-flex;
}

ul{
  padding-left: 20px;
  list-style: none;
  display: block;
  margin:14px 16px 13px 0;
}

li{
  background: linear-gradient(120deg, #f5f5f5, #dedede, #dedede, #c7c6c6); 
  background-size: 700% 700%;
  margin:0 0 13px 0;
  -webkit-animation: li-c 1.3s infinite ease-in-out;
  animation: li-c 1.3s infinite ease-in-out; 
}

li:nth-child(1){
  width: 32px;
  height: 32px;
  border: solid 2px #e6e6e6;
  border-radius: 50%;
  background:transparent;
  margin:0 0 8px 0;
}

.one ~ li:nth-child(2){
  width: 44px;
  height: 3px;
  margin:0 0 5px 0;
}

.one ~ li:nth-child(3){
  width: 24px;
  height: 3px;
}

.two ~ li:nth-child(2) {
  width: 24px;
  height: 3px;
  margin:0 0 5px 0;
 }

.two ~ li:nth-child(3) {
  width: 44px;
  height: 3px;
 }

.three ~ li:nth-child(2) {
  width: 44px;
  height: 3px;
  margin:0 0 5px 0;
 }

.three ~ li:nth-child(3) {
  width: 14px;
  height: 3px;
 }

 @-webkit-keyframes li-c {

    0%{background-position:100% 51%}

    50%{background-position:100% 50%}

    100%{background-position:0% 200%}
}

@keyframes li-c { 
  
    0%{background-position:100% 51%;}

    50%{background-position:100% 50%;}

    100%{background-position: -20% -20%;}
}


